from tkinter import * #import tkinter
window = Tk()
window.title('Glamping World Order Processing Application')

lbl = Label(window, text ="Customer Name:")
lbl.grid(sticky = W, column = 0, row = 0)
txt = Entry(window, width = 30)
txt.grid(column=1, row=0)
lbl = Label(window, text ="Product Name:")
lbl.grid(sticky = W, column = 0, row = 1)
txt = Entry(window, width = 30)
txt.grid(column=1, row=1)
lbl = Label(window, text ="Product Quantity:")
lbl.grid(sticky = W, column = 0, row = 2)
txt = Entry(window, width = 30)
txt.grid(column=1, row=2)
lbl = Label(window, text = "Product Price:")
lbl.grid(sticky = W, column = 0, row = 3)
txt = Entry(window, width = 30)
txt.grid(column=1, row=3)
lbl = Label(window, text ="Subtotal:")
lbl.grid(sticky = W, column = 0, row = 4)
txt = Entry(window, width = 30)
txt.grid(column=1, row=4)
lbl = Label(window, text ="Order Total:")
lbl.grid(sticky = W, column = 0, row = 5)
txt = Entry(window, width = 30)
txt.grid(column=1, row=5)

btn = Button(window, text ="Calculate Order Total", bg="green", fg="black")
btn.grid(column = 0, row = 8)
btn = Button(window, text ="Help", bg="red", fg="black")
btn.grid(column = 8, row = 8)

photo = PhotoImage(file="P:\GWlogo.gif") # specify the path to your file
label = Label(root, image=photo)  #put the image in a label to disdaply it in the window
label.pack()  # show the label on the screen
window.mainloop()
