from tkinter import * # Import tkinter

class LoanCalculator:
    def __init__(self):
        window = Tk() # Create a window
        window.title("Glamping World Shopping Cart") # Set title of a window
                
        # set up labels for the loan calculator in the left column of the window, align labels left (Sticky=W)
        Label(window, text = "Customer Name").grid(row = 1, column = 1, sticky = W) 
        Label(window, text = "Product ID").grid(row = 2, column = 1, sticky = W)
        Label(window, text = "Product Quantity").grid(row = 3, column = 1, sticky = W)
        Label(window, text = "Product Price").grid(row = 4, column = 1, sticky = W)
        Label(window, text = "Subtotal ($)").grid(row = 5, column = 1, sticky = W)
        Label(window, text = "Tax ($)").grid(row = 6, column = 1, sticky = W)
        Label(window, text = "Total Payment ($)").grid(row = 7, column = 1, sticky = W)

        # set up the input area for the calculator in the right column, using Entry for textboxes and assigning the values entered to variables
        self.customerNameVar = StringVar()
        Entry(window, textvariable = self.customerNameVar,justify = LEFT).grid(row = 1, column = 2)
        self.productIDVar = StringVar()
        Entry(window, textvariable = self.productIDVar, justify = LEFT).grid(row = 2, column = 2)
        self.productQuantityVar = StringVar()
        Entry(window, textvariable = self.productQuantityVar, justify = LEFT).grid(row = 3, column = 2)
        self.productPriceVar = StringVar()
        Entry(window, textvariable = self.productPriceVar, justify = LEFT).grid(row = 4, column = 2)

        # set up the output area for the calculator below the input area, using two labels and a button; the button calls the function computePayment when it's clicked

        self.subtotalVar = StringVar()
        Label(window, textvariable = self.subtotalVar).grid(row = 5, column = 2, sticky = E)
        self.taxVar = StringVar()
        Label(window, textvariable = self.taxVar).grid(row = 6, column = 2, sticky = E)
        self.totalPaymentVar = StringVar()
        Label(window, textvariable = self.totalPaymentVar).grid(row = 6, column = 2, sticky = E)
        Button(window, text = "Compute Total Payment", command = self.computePayment).grid(row = 8, column = 2, sticky = E)

        window.mainloop() # Create an event loop to display the window
        
    # function computePayment calls the getMonthlyPayment function with arguments assigned the values from the user
    def computePayment(self):
        monthlyPayment = self.getMonthlyPayment(
            float(self.loanAmountVar.get()),
            float(self.annualInterestRateVar.get()) / 1200, 
            int(self.numberOfYearsVar.get()))
        self.monthlyPaymentVar.set(format(monthlyPayment, '10.2f')) #assign the value and format the monthlyPaymentVar to the value of monthlyPayment returned from getMonthlyPayment function
        totalPayment = float(self.monthlyPaymentVar.get()) * 12 * int(self.numberOfYearsVar.get()) #calculate totalPayment 
        self.totalPaymentVar.set(format(totalPayment, '10.2f')) #output totalPayment formatted to two decimal places in the totalPaymentVar

    # calculate Monthly Payment using the formula provided
    def getMonthlyPayment(self,loanAmount, monthlyInterestRate, numberOfYears):
        monthlyPayment = loanAmount * monthlyInterestRate / (1 
            - 1 / (1 + monthlyInterestRate) ** (numberOfYears * 12))
        return monthlyPayment

LoanCalculator() # Create GUI 
